/* Navigation styles */
header {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.nav {
background-color: black;
display: flex;
justify-content: space-between;
}
.nav a {
    color: white;
    padding: 2px;
    text-decoration: none;
}
.left {
    background-color: #87CEEB;
}

#rightbutton {

    background-color: #FFFF00;
}
/* Column styles */
.column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 800px;
    margin: 0 auto;
}

.meal1{
    background-image: url("../images/steak.png");
    background-size: cover;
    height: 280px;
    width: 100%;
}
.meal2{
    background-image: url("../images/soup.png");
    background-size: cover;
    height: 280px;
    width: 100%;
}
.meal3{
    background-image: url("../images/cheesecake.png");
    background-size: cover;
    height: 280px;
    width: 100%;
}
.meal1,.meal2,.meal3 {
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-top: 20px;
    }

.text {
        background: rgb(0,0,0,0.7);
        width: 100%;
        padding: 20px 40px;
    }

.text h1,p {
        color: white;
    }

.text hi {
    font-family: 'Times New Roman', Times, serif;
}
.text p {
    font-family: Arial, Helvetica, sans-serif;
}
/* Footer Styles */
.footer {
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}
.footer a {
    text-decoration: none;
    text-align: match-parent;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
}
.fb {
    color: #87CEEB;
}
.tw {
    color: #FFFF00;
}
.ig {
    color: red;
}
